<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta content="IE=edge" http-equiv="X-UA-Compatible" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <title>Document</title>
    <link rel="stylesheet" href="../../static/global.css" />
    <link rel="stylesheet" href="../../static/style.css" />
    <link rel="stylesheet" href="../../static/profile.css" />
  </head>
  <body>
    <header>
      <nav>
        <div>
          <h1>Profile</h1>
        </div>
      </nav>
    </header>

    <div class="container profile">
      <img
        src="https://avatars.githubusercontent.com/u/64048314?s=460&u=5dddd476bfb958ad920aeeeca58b7a32e87e3a39&v=4"
        alt=""
      />
      <h1>User Name</h1>

      <div class="profile-view-note">
        <a>View your Notes</a>
      </div>
    </div>
  </body>
</html>
