<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta content="IE=edge" http-equiv="X-UA-Compatible"/>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <title>Document</title>
</head>
<body>
<h1>hi</h1>

<h1>User Registration</h1>
<form action="#" method="post" th:action="@{/register}" th:object="${user}">
    <label>name:</label>
    <input th:field="*{name}" type="text"/><br/>
    <label>Password:</label>
    <input th:field="*{password}" type="password"/><br/>
    <button type="submit">Register</button>
</form>
</body>
</html>