<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<div align="center">
    <h1>Add note</h1>
    <form action="#" th:action="@{/addnote}" method="post" th:object="${note}">
        <textarea rows="5" cols="25" th:field="*{content}"></textarea>
        <br/>

        <button type="submit">Add note</button>
    </form>
</body>
</html>