<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Registration Success</title>
    <style type="text/css">
      span {
        display: inline-block;
        width: 200px;
        text-align: left;
      }
    </style>
  </head>
  <body>
    <div align="center">
      <h2>Registration Succeeded!</h2>
      <p th:text="'Welcome, ' + ${user.name}"></p>
      <h3>All registed users</h3>
      <div th:each="user : ${users}">
        <p th:text="${user.name}"></p>
      </div>
    </div>
  </body>
</html>
