<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Document</title>
</head>
<body>
<h1>hi</h1>

<h1>User Registration</h1>
<form action="#" th:action="@{/register}" method="post" th:object="${user}">
    <label>name:</label>
    <input type="text" th:field="*{name}"/><br/>
    <label>Note:</label>
    <button type="submit">Register</button>
</form>
</body>
</html>