<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta content="IE=edge" http-equiv="X-UA-Compatible"/>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <title>Document</title>
</head>
<body>
<h1>hi</h1>

<h1>Add note</h1>
<p th:text="${user.id}"></p>

<form method="post" th:action="@{'/notes/add/' + ${user.id}}" th:object="${note}">
    <input
            type="text"
            placeholder="Adicionar novo todo"
            th:field="*{content}"
    />
    <button type="submit">Add</button>
</form>
<table>
    <tr>
        <th>Note</th>
    </tr>
    <tr th:each="note : ${notes}">
        <td th:text="${note.content}"></td>
    </tr>
</table>
</body>
</html>
